:root {
	--background-color: #333;
	--foreground-color: #eee;
	--primary-color: #007bff;
	--secondary-color: #515151;
	--success-color: #28a745;
	--danger-color: #dc3545;
	--warning-color: #ffc107;
	--info-color: #17a2b8;
	--light-color: #f8f9fa;
	--dark-color: #2e2e2e;
	--box-shadow: 1px 2px 2px 1px rgba(0, 0, 0, 0.12), 1px 2px 2px 1px rgba(0, 0, 0, 0.24);
}

html,
body {
	background: var(--background-color);
	color: var(--foreground-color);
}

th {
	background-color: var(--secondary-color);
}
